body {
    /*padding: 15px;*/
}
.hero-unit {
    padding: 30px;
    margin: 20px;
}
.alerts {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 200px;
    overflow: auto;
}
.venue {
    font-weight: bold;
}
#gmaps-canvas {
    height: 500px;
    background: #eee;
}
.info-window p {
    margin: 0;
}
.info-window .band {
    font-weight: bold;
}
.info-window button {
    margin-top: 5px;
}

.info-window .offered {
    background-color: #5bb75b;
}
