body {
    /*padding: 15px;*/
}
.hero-unit {
    padding: 30px;
    margin: 20px;
}
.venue {
    font-weight: bold;
}
#gmaps-canvas {
    height: 500px;
    background: #eee;
}
.info-window p {
    margin: 0;
}
.info-window .band {
    font-weight: bold;
}
.info-window button {
    margin-top: 5px;
}
